* text=auto
*.cpp text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.dst binary
*.pdf binary
*.osp binary
# SVG : traité comme texte mais fins de ligne LF pour un rendu stable
*.svg text eol=lf
